{{ if and (lookPath "sing-box") (lookPath "iwctl") -}}
[Unit]
BindsTo=sys-subsystem-net-devices-{{ index . .chezmoi.hostname "wirelessAdapterName" }}.device
After=sys-subsystem-net-devices-{{ index . .chezmoi.hostname "wirelessAdapterName" }}.device
{{ end -}}
