{{ if eq .chezmoi.os "linux" -}}
{{- if eq .chezmoi.osRelease.name "Arch Linux" -}}
#!/bin/sh
set -eufo pipefail
# Install common and host specific packages
pacman -Syu --needed --noconfirm
{{- range .COMMON.packages.arch }}{{ print " " . }}{{ end }}
{{- range index . .chezmoi.hostname "packagesSpec" }}{{ print " " . }}{{ end }}

# Install Extra Packages
{{- if index . .chezmoi.hostname "installExtra" }}
pacman -S --needed --noconfirm{{ range .COMMON.packages.archExtra }}{{ print " " . }}{{ end }}
{{- end }}
{{- if index . .chezmoi.hostname "packagesAUR" }}

# Install AUR packages
RAMDISK_SIZE=$(($(free -m | awk '/Mem/ { print $7 }')/2))
mount --mkdir -t tmpfs -o defaults,size=${RAMDISK_SIZE}M tmpfs {{ index . .chezmoi.hostname "aurChrootPath" }}

trap 'umount {{ index . .chezmoi.hostname "aurChrootPath" }}/overlay {{ index . .chezmoi.hostname "aurChrootPath" }}; rm /etc/sudoers.d/03_aur_tmp' EXIT

dd if=/dev/zero of={{ index . .chezmoi.hostname "aurChrootPath" }}/ramdisk status=progress bs=1M count=$RAMDISK_SIZE
mkfs.btrfs -m single -f {{ index . .chezmoi.hostname "aurChrootPath" }}/ramdisk
mount --mkdir -t btrfs -o loop,compress=zstd {{ index . .chezmoi.hostname "aurChrootPath" }}/ramdisk {{ index . .chezmoi.hostname "aurChrootPath" }}/overlay
chown {{ index . .chezmoi.hostname "mainUser" }}: {{ index . .chezmoi.hostname "aurChrootPath" }}/overlay

# Note: paru hardcoded 'sudo install -dm755 $CHROOT'
# https://github.com/Morganamilo/paru/blob/5355012aa3529014145b8940dd0c62b21e53095a/src/chroot.rs#L43
cat <<EOF > /etc/sudoers.d/03_aur_tmp
{{ index . .chezmoi.hostname "mainUser" }} ALL = (ALL) NOPASSWD: SETENV: /usr/bin/makechrootpkg
{{ index . .chezmoi.hostname "mainUser" }} ALL = (ALL) NOPASSWD: /usr/bin/arch-nspawn, /usr/bin/install, /usr/bin/mkarchroot, /usr/bin/pacman
EOF

sudo -u {{ index . .chezmoi.hostname "mainUser" }} paru -S --needed --noconfirm --chroot={{ index . .chezmoi.hostname "aurChrootPath" }}/overlay{{ range index . .chezmoi.hostname "packagesAUR" }}{{ print " " . }}{{ end }}
{{- end }}
{{- end }}
{{- end -}}
