# Configuration for monerod
# Syntax: any command line option may be specified as 'clioptionname=value'.
#         Boolean options such as 'no-igd' are specified as 'no-igd=1'.
# See 'monerod --help' for all available options.

{{ if eq .chezmoi.hostname "PROTEUSDESKTOP" -}}
data-dir=/mnt/storage1/monero
log-file=/mnt/storage1/monero/monero.log
{{ else -}}
data-dir=/var/lib/monero
log-file=/var/log/monero/monero.log
{{ end -}}
log-level=0
