#!/usr/bin/nft -f
# vim:set ts=2 sw=2 et:

# IPv4/IPv6 Simple & Safe firewall ruleset.
# More examples in /usr/share/nftables/ and /usr/share/doc/nftables/examples/.

destroy table inet filter
table inet filter {
  chain input {
    type filter hook input priority filter; policy drop;
    ct state invalid drop comment "Early drop of invalid connections"
    ct state {established, related} accept comment "Allow tracked connections"
    iif lo accept comment "Allow from loopback"
    ip saddr 192.168.15.0/24 accept comment "Allow from LAN"
    ip6 saddr { fe80::/16, fd66:06e5:aebe::/48 } accept comment "Allow from Link-Local / ULA-Prefix (IPv6)"
    ip protocol icmp accept comment "Allow ICMP"
    meta l4proto ipv6-icmp accept comment "Allow ICMP v6"
    meta protocol ip6 udp dport dhcpv6-client accept comment "Allow DHCPv6"
    udp dport 41641 counter accept comment "Allow Tailscale"
    iifname "tailscale0*" counter accept comment "Allow from Tailscale"
    tcp dport snapenetio accept comment "Allow Syncthing"
    udp dport { snapenetio, 21027 } accept comment "Allow Syncthing broadcasts (IPv4) / multicasts (IPv6)"
    iifname tun0 accept comment "Allow Sing-box"
    tcp dport 8888 accept comment "Allow Atuin"
    udp dport bootps accept comment "Allow DHCP server (systemd-nspawn)"
    pkttype host limit rate 5/second counter reject with icmpx type admin-prohibited comment "Limit ping speed from other Internet"
    counter
  }
  chain forward {
    type filter hook forward priority filter; policy drop;
    ip saddr 192.168.15.0/24 counter accept comment "Allow forward from LAN"
    ip6 saddr { fe80::/16, fd66:06e5:aebe::/48 } counter accept comment "Allow forward from Link-Local / ULA-Prefix (IPv6)"
    ip6 saddr { 2409:8a20:5064:4cd0::/64 } accept comment "Allow forward from SLAAC (IPv6)"
    ip6 daddr { 2409:8a20:5064:4cd0::/64 } accept comment "Allow forward to SLAAC (IPv6)"
    iifname "tailscale0*" counter meta mark set meta mark & 0xffff04ff | 0x00000400 comment "Mark packages that forward to Tailscale"
    meta mark & 0x0000ff00 == 0x00000400 counter accept comment "Allow marked Tailscale packages"
    oifname "tailscale0*" counter accept comment "Allow forward from Tailscale"
{{- if eq .chezmoi.hostname "PROTEUSDESKTOP" "PROTEUSLAPTOP" }}
    ip saddr 172.17.0.0/12 counter accept comment "Allow Docker containers' packages go outside"
    ip daddr 172.17.0.0/12 counter accept comment "Allow packages go into docker containers"
    iifname "ve-*" counter accept comment "Allow systemd-nspawn container"

{{- end }}
  }
}
