{{ if eq (output "sh" "-c" "systemctl is-enabled slapd.service || true" | trim) "enabled" -}}
options {
  default-server localhost;
  default-key "custom";
};
key custom {
  algorithm {{ (keepassxc "chezmoi/bind").UserName }};
  secret {{ (keepassxc "chezmoi/bind").Password }};
};
{{ end -}}
