[Unit]
Description=Customized sleep actions
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/usr/bin/systemctl stop sing-box.service yggdrasil.service iwd.service bluetooth.service
{{- if eq .chezmoi.hostname "PROTEUSLAPTOP" }}
ExecStart=-/usr/bin/modprobe -r mt7921e btusb snd_hda_scodec_tas2781_i2c snd_soc_tas2781_fmwlib snd_soc_tas2781_comlib thunderbolt
ExecStop=-/usr/bin/sh -c 'modprobe btusb; modprobe mt7921e; modprobe snd_hda_scodec_tas2781_i2c; modprobe thunderbolt'
{{- else if eq .chezmoi.hostname "PROTEUSNOTEBOOK" }}
# Force stop running virtual machines
ExecStart=-/usr/bin/sh -c 'virsh -c qemu:///system list --state-running --name | xargs -L1 virsh -c qemu:///system destroy'
# Stop GPU process which is using over half of VRAM
ExecStart=-/usr/bin/sh -c '/etc/custom_files/custom-sleep-actions.sh'
{{- end }}
ExecStop=-/usr/bin/systemctl start bluetooth.service iwd.service yggdrasil.service sing-box.service

[Install]
WantedBy=sleep.target
