BASE dc=tailba6c3f,dc=ts,dc=net
SUDOERS_BASE ou=sudoers,dc=tailba6c3f,dc=ts,dc=net
{{- if eq .chezmoi.hostname "PROTEUSDESKTOP" }}
URI ldap://localhost
{{- else if eq .chezmoi.hostname "PROTEUSLAPTOP" "PROTEUSNOTEBOOK" }}
URI ldaps://proteusdesktop.tailba6c3f.ts.net:636
{{- end -}}
