BASE dc=tailba6c3f,dc=ts,dc=net
URI ldap://localhost
#TLS_REQCERT allow
{{- if eq .chezmoi.hostname "PROTEUSDESKTOP" }}
TLS_CACERT /mnt/storage3/sync-work/3keys/slapdcert.pem
{{- else if eq .chezmoi.hostname "PROTEUSLAPTOP" "PROTEUSNOTEBOOK" }}
TLS_CACERT /home/{{ index . .chezmoi.hostname "mainUser" }}/3keys/slapdcert.pem
{{- end -}}
