{{ if eq (output "sh" "-c" "systemctl is-enabled slapd.service || true" | trim) "enabled" -}}
dn: dc=tailba6c3f,dc=ts,dc=net
objectClass: dcObject
objectClass: organization
dc: tailba6c3f
o: Proteus' Organization

dn: cn=Manager,dc=tailba6c3f,dc=ts,dc=net
objectClass: top
objectClass: organizationalRole
cn: Manager
description: LDAP administrator
roleOccupant: dc=tailba6c3f,dc=ts,dc=net

dn: ou=People,dc=tailba6c3f,dc=ts,dc=net
objectClass: top
objectClass: organizationalUnit
ou: People

dn: ou=Group,dc=tailba6c3f,dc=ts,dc=net
objectClass: top
objectClass: organizationalUnit
ou: Group

dn: ou=Sudoers,dc=tailba6c3f,dc=ts,dc=net
objectClass: top
objectClass: organizationalUnit
ou: Sudoers

dn: cn=defaults,ou=Sudoers,dc=tailba6c3f,dc=ts,dc=net
objectClass: top
objectClass: sudoRole
cn: defaults
description: Default sudoOption's go here
sudoOption: env_keep+=SSH_AUTH_SOCK
sudoOption: passwd_timeout=0

# The Sudoer rules order matter
dn: cn=allowMainUserNoPass,ou=Sudoers,dc=tailba6c3f,dc=ts,dc=net
objectClass: top
objectClass: sudoRole
cn: allowMainUserNoPass
sudoUser: {{ .COMMON.mainUser }}
sudoHost: ALL
sudoRunAsUser: ALL
sudoOption: !authenticate
sudoCommand: /usr/bin/psd-overlay-helper
# Note: paru hardcoded 'sudo install -dm755 $CHROOT'
# https://github.com/Morganamilo/paru/blob/5355012aa3529014145b8940dd0c62b21e53095a/src/chroot.rs#L43
sudoCommand: /usr/bin/arch-nspawn
sudoCommand: /usr/bin/cp -auT /var/lib/pacman/sync /tmp/aur_chroot/overlay/root/var/lib/pacman/sync
sudoCommand: /usr/bin/install -dm755 {{ .COMMON.aurChrootPath }}/overlay
sudoCommand: /usr/bin/mkarchroot
sudoCommand: /usr/bin/pacman

dn: cn=allowMainUserNoPassSetenv,ou=Sudoers,dc=tailba6c3f,dc=ts,dc=net
objectClass: top
objectClass: sudoRole
cn: allowMainUserNoPassSetenv
sudoUser: {{ .COMMON.mainUser }}
sudoHost: ALL
sudoRunAsUser: ALL
sudoOption: !authenticate
sudoOption: setenv
sudoCommand: /usr/bin/makechrootpkg

dn: cn=allowMainUser,ou=Sudoers,dc=tailba6c3f,dc=ts,dc=net
objectClass: top
objectClass: sudoRole
cn: allowMainUser
sudoUser: {{ .COMMON.mainUser }}
sudoHost: ALL
sudoRunAsUser: ALL
sudoCommand: ALL

dn: uid={{ .COMMON.mainUser }},ou=People,dc=tailba6c3f,dc=ts,dc=net
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
uid: {{ .COMMON.mainUser }}
cn: Proteus Chan
sn: Chan
givenName: Proteus
title: Chansao
mobile: {{ keepassxcAttribute "chezmoi/openldap" "proteus_phone" }}
mail: {{ keepassxcAttribute "chezmoi/openldap" "proteus_email" }}
postalAddress: Toukyouto$Setagayaku$Kitazawa3Choume23Ban14Gou
userPassword: {{ keepassxcAttribute "chezmoi/openldap" "proteus_password" }}
labeledURI: https://magic0whi.github.io/
loginShell: /bin/zsh
uidNumber: 1000
gidNumber: 1000
homeDirectory: /home/{{ .COMMON.mainUser }}/
description: This is me

dn: uid=atuin,ou=People,dc=tailba6c3f,dc=ts,dc=net
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
uid: atuin
sn: Atuin
cn: Atuinsh Atuin
userPassword: {{ keepassxcAttribute "chezmoi/openldap" "atuin_password" }}
loginShell: /usr/bin/nologin
uidNumber: 1001
gidNumber: 1001
homeDirectory: /mnt/overlay/Services/atuin
description: Magical shell history

dn: cn={{ .COMMON.mainUser }},ou=Group,dc=tailba6c3f,dc=ts,dc=net
objectClass: top
objectClass: posixGroup
objectClass: groupOfMembers
cn: {{ .COMMON.mainUser }}
gidNumber: 1000
member: uid={{ .COMMON.mainUser }},ou=People,dc=tailba6c3f,dc=ts,dc=net
{{ end -}}
