{{ if dig .chezmoi.hostname "wirelessAdapterName" nil . -}}
[Match]
Name={{ index . .chezmoi.hostname "wirelessAdapterName" }}
SSID={{ index . .chezmoi.hostname "SSID" }}

[Link]
NamePolicy=kernel database onboard slot path
MACAddressPolicy=persistent
WakeOnLan=magic
GenericSegmentationOffload=true
GenericReceiveOffload=true
GenericReceiveOffloadHardware=true
{{ end -}}
