{{ if dig .chezmoi.hostname "wirelessAdapterName" nil . -}}
[Match]
Name={{ index . .chezmoi.hostname "wirelessAdapterName" }}

[Network]
DHCP=yes
IgnoreCarrierLoss=3s
IPv6SendRA=yes
DHCPPrefixDelegation=yes

[DHCPv4]
RouteMetric=20

[DHCPv6]
WithoutRA=solicit
UseDelegatedPrefix=yes
RouteMetric=20

[IPv6AcceptRA]
RouteMetric=20

[IPv6SendRA]
Managed=yes
OtherInformation=yes
{{ end -}}
