{{ if eq (output "sh" "-c" "systemctl is-enabled tor.service || true" | trim) "enabled" -}}
[Unit]
Wants=network-online.target tailscaled.service
After=network-online.target tailscaled.service
{{- end }}
