{{ if lookPath "/usr/bin/lighttpd" -}}
server.systemd-socket-activation = "enable"
server.name = "tailba6c3f.ts.net"
server.username = "http"
server.groupname = "http"
server.document-root = "/srv/http"
server.modules += ("mod_redirect", "mod_setenv", "mod_openssl", "mod_deflate", "mod_alias", "mod_rewrite")
dir-listing.activate = "enable"
dir-listing.encoding = "UTF-8"
index-file.names = ( "index.html" )

# Performance tuning
server.network-backend = "sendfile"
deflate.mimetypes = ("text/plain", "text/html")
deflate.allowed-encodings = ("brotli", "gzip", "deflate")
deflate.cache-dir = "/tmp/lighttpd/cache"

# SSL
ssl.privkey = "/mnt/overlay/keys/private/proteus_ca.key.pem"
ssl.pemfile = "/mnt/overlay/keys/proteus_server.pem"
ssl.openssl.ssl-conf-cmd = ("MinProtocol" => "TLSv1.3")
ssl.openssl.ssl-conf-cmd += ("Options" => "-ServerPreference")
# If using systemd-socket the listen work is done by systemd , set it here
# explicitly will cause 'port already use' error, so only leave a conditional
# check for [::]:443 to ensure that the ssl engine is enabled
#$SERVER["socket"] == "[::]:80" { }
# lighttpd 1.4.56 and later will inherit ssl.* from the global scope if
# $SERVER["socket"] contains ssl.engine = "enable" and no other ssl.* options
# (to avoid having to repeat ssl.* directives in both ":443" and "[::]:443")
#$SERVER["socket"] ==     ":443" { ssl.engine = "enable" }
$SERVER["socket"] == "[::]:443" { ssl.engine = "enable" }
$HTTP["scheme"] == "http" { url.redirect = ("" => "https://${url.authority}${url.path}${qsa}") }
$HTTP["scheme"] == "https" {
  setenv.add-response-header = (
    "Strict-Transport-Security" => "max-age=63072000; includeSubDomains", # Two years
    "X-XSS-Protection" => "1; mode=block",
    "X-Content-Type-Options" => "nosniff",
    "Referrer-Policy" => "no-referrer-when-downgrade",
    "Content-Security-Policy" => "default-src 'self' http: https: ws: wss: data: blob: 'unsafe-inline'; frame-ancestors 'self';",
    "Permissions-Policy" => "interest-cohort=()"
  )
}
# OCSP stapling (input file must be maintained by external script)
# https://redmine.lighttpd.net/projects/lighttpd/wiki/Docs_SSL#OCSP-Stapling
# ssl.stapling-file = "/path/to/cert-staple.der"

var.vhosts_dir  = "/mnt/storage3/Services"
$HTTP["host"] =^ "algorithm-archive" {
  var.sub_dir = "algorithm-archive"
  server.name = sub_dir + "." + server.name
  server.document-root = vhosts_dir + "/" + sub_dir + "/_book"
}
$HTTP["host"] =^ "nixos-and-flakes-book" {
  var.sub_dir = "nixos-and-flakes-book"
  server.name = sub_dir + "." + server.name
  server.document-root = vhosts_dir + "/" + sub_dir + "/docs/.vitepress/dist"
}
$HTTP["host"] =^ "web-llm-chat" {
  var.sub_dir = "web-llm-chat"
  server.name = sub_dir + "." + server.name
  server.document-root = vhosts_dir + "/" + sub_dir + "/out"
}
{{ end -}}
